form {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0.75rem auto;
}

input,
textarea {
	padding: 0.75rem 0.5rem;
	font-family: inherit;
	font-size: inherit;
	border: 1px dotted;
	border-radius: 0;
	width: 100%;
}

textarea {
	height: 120px;
}

button[type='submit'] {
	align-self: center;
}
